@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
} 

html, body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
}
body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;

}
main{
    height: 100vh; /*o main vai ocupar a tela inteira*/
    position: relative;
    
}
#telefone{
    position: absolute; /*como aqui está absoluto e atraz dele (que é o main) está relative, podemos configurar o top e left*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*com isso o quadro será exatamente no meio da tela*/
    height: 627px;
    width: 311px;
    

    background:  url(../imagens/frame-iphone.png) no-repeat ;
}
#tela{  /*aqui é a tela do iframe que é a pagina home.html para ficar dentro do telefone*/
    position: relative;
    top: 80px;
    left: 22px;
    width: 268px;
    height: 471px;
}
#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%; /*aqui vai ficar com borda metada da imagem transformando ela em um circulo perfeito*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
    box-sizing: border-box; /*para a borda fazer parte da caixa*/
}
#redes-sociais{
    text-align: right; /*os links vao para a esquerda(canto da pagina)*/
}
#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.678);
    transform: translate(-3px, -3px);
    transition: transform 0.2s;
}